<div #load="ngbCollapse" [ngbCollapse]="step != LOAD">
  <form #f="ngForm" (submit)="loadAndGenerate(f)">
    <h5 class="card-title">Seleziona i file richiesti</h5>

    <div class="mb-3">
      <label for="donations" class="form-label">
        Estrazione donazioni effettuate
      </label>
      <input
        type="file"
        class="form-control"
        ngModel
        #donationsInput="ngModel"
        name="donations"
        id="donations"
        accept=".xlsx"
        (change)="onDonationsFileChange($event)"
        required
        [ngClass]="{
          'is-invalid': donationsInput.invalid && donationsInput.touched
        }"
      />
      <div class="invalid-feedback">Il campo è necessario</div>
    </div>

    <div class="mb-3">
      <label for="donoCupSubscribers" class="form-label">
        Estrazione iscrizioni alla coppa dono
      </label>

      <input
        type="file"
        class="form-control"
        ngModel
        #donoCupSubscribersInput="ngModel"
        name="donoCupSubscribers"
        id="donoCupSubscribers"
        accept=".xlsx"
        (change)="onDonoCupSubscribersFileChange($event)"
        required
        [ngClass]="{
          'is-invalid':
            donoCupSubscribersInput.invalid &&
            donoCupSubscribersInput.touched
        }"
      />
      <div class="invalid-feedback">Il campo è necessario</div>
    </div>

    <div class="d-flex">
      <button class="btn btn-primary mx-auto" type="submit">
        Genera Leaderboard
      </button>
    </div>
  </form>
</div>

<div #results="ngbCollapse" [ngbCollapse]="step != RESULTS">
  <h5 class="card-title">Risultati</h5>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Squadra</th>
        <th scope="col"># Donazioni over 25 <span *ngIf="enableFirstDonations">(escl. prime donaz.)</span></th>
        <th scope="col"># Donazioni under 25 <span *ngIf="enableFirstDonations">(escl. prime donaz.)</span></th>
        <th scope="col" *ngIf="initiative == '24/25'"># Prime donazioni</th>
        <th scope="col">Punteggio</th>
        <th scope="col">Partecipanti under 25</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let teamScore of leaderboard?.slice(0, 10) ?? [];
          index as i
        "
      >
        <th scope="row">{{ i + 1 }} <ng-template *ngIf="i == 0">👑</ng-template></th>
        <td>
          {{ teamScore.name }}
        </td>
        <td>{{ teamScore.over25BloodDonationsCount }}</td>
        <td>{{ teamScore.under25BloodDonationsCount }}</td>
        <td *ngIf="initiative == '24/25'">{{ teamScore.firstDonationsCount }}</td>
        <td>{{ teamScore.donationsScore }}</td>
        <td>{{ teamScore.under25DonorsCount }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex">
    <button
      class="btn btn-primary mx-auto"
      (click)="downloadFullLeaderboard()"
    >
      Scarica tutti
    </button>
  </div>
</div>
