<nav
  class="navbar bg-light rounded-3 m-3 border-bottom border-4 border-primary shadow"
>
  <div class="container-fluid">
    <a
      class="navbar-brand d-inline-flex align-items-center clickable"
      (click)="reload()"
    >
      <img src="assets/logo.png" style="height: 60px"  alt="logo"/>
      <h1 class="h3 m-0">
        AFDS Dono Cup Leaderboard Generator
        <span class="m-0" [ngbCollapse]="initiative == null" [horizontal]="true">| {{initiative}}</span>
      </h1>

    </a>
    <a href="http://gravatar.com/riccardomanzan" class="btn btn-secondary me-4">
      <span>By Riccardo Manzan</span>
      <img
        src="https://gravatar.com/avatar/8e0e88a97fba70d752284fd35ae9b7d6"
        class="img-thumbnail me-n4 ms-3 my-n4 rounded-circle border-secondary"
        style="height: 60px"
       alt="gravatar"/>
    </a>
  </div>
</nav>

<section class="container">
  <div class="card">
    <div class="card-body">
      <div
        *ngIf="isLoading"
        class="align-items-center bottom-0 d-flex end-0 h-100 justify-content-center position-absolute rounded-2 start-0 top-0"
        style="background-color: #0003"
      >
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading... </span>
        </div>
      </div>

      <div #begin="ngbCollapse" [ngbCollapse]="initiative != null">
        <h5 class="card-title">Di cosa si tratta?</h5>
        <p class="card-text">
          Questo tool ti permette di calcolare la classifica della coppa dono a
          partire da alcune estrazioni in formato xlsx
          <br />
          Seleziona l'iniziativa per cui calcolare la classifica
        </p>
        <div class="row justify-content-evenly">
          <div class="col-5">
            <button
              class="btn btn-primary btn-block w-100"
              (click)="setInitiative('AFDVS2024')"
            >
              <h4 class="m-n1">Coppa Dono AFDVS 2024</h4>
            </button>
          </div>
          <div class="col-5">
            <button
              class="btn btn-secondary btn-block w-100"
              (click)="setInitiative('AFDS2023')"
            >
              <h4 class="m-n1">Coppa Dono AFDS Udine 2023</h4>
            </button>
          </div>
        </div>
      </div>
      <div
      [ngbCollapse]="initiative != 'AFDVS2024'"
      >
          <app-afdvs2024
          [showError]="showError.bind(this)"
          [(isLoading)]="isLoading"
          />
      </div>
      <div
      [ngbCollapse]="initiative != 'AFDS2023'"
      >
          <app-afds2023
          [showError]="showError.bind(this)"
          [(isLoading)]="isLoading"
          />
      </div>
      </div>
    </div>
</section>

<footer class="text-center small mt-auto mb-1">
  <a
    href="https://github.com/RiccardoManzan/afds-dono-cup-leaderboard-generator"
    class="link-dark mt-1"
  >
    Copyright (c) 2023, Riccardo Manzan
  </a>
</footer>

<ng-template #errorModal let-modal>
  <div class="modal-header border-0">
    <h4 class="modal-title" id="modal-basic-title">Oops!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">Qualcosa è andato storto: {{ error }}</div>
  <div class="modal-footer border-0"></div>
</ng-template>
